{% extends "base.html" %}
{% block content %}
<h3>Ajouter présence</h3>
<form method="POST">
  <div class="mb-2">
    <select name="enfant_id" class="form-control">
      {% for e in enfants %}<option value="{{ e._id }}">{{ e.nom }}</option>{% endfor %}
    </select>
  </div>
  <div class="mb-2">
    <select name="statut" class="form-control">
      <option value="present">Présent</option>
      <option value="absent">Absent</option>
    </select>
  </div>
  <button class="btn btn-success">Enregistrer</button>
</form>
{% endblock %}
